body{
    background-color: rgba(100,90,90,0.2);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', cursive;
}
.card-img{
    width: 90%;
    transition: .3s all;
    filter: grayscale(1)
}
.card{
    width: 25vw;
    height: 55vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(120,120,120,0.2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: 1.2s ease-in-out;
    margin-bottom: 2%;
    font-family: 'Playfair-Display' ;
}
@media screen and (max-width: 1024px) {
    .card{
        width: 40%;
    }
}
@media screen and (max-width: 480px){
     .card{
        width: 100%
     }
}
.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
    background-color: rgba(250, 237, 237, .7);
    padding: 3% 4% 3% 4%;
}
.card-desc{
    font-size: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    animation: tilt-shaking 2s infinite;
}
.card:hover{
    transform: translateY(-1.5rem);
}
.card-img:hover{
    animation: tilt-shaking 2s infinite;
    filter: invert(1);
}
.card-desc:hover{
    zoom:90%;

}
@keyframes tilt-shaking {
    0% { transform: rotate(5deg); }
    10% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    40% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    60% {transform: rotate(5deg);}
    70% {transform: rotate(-5deg);}
    80% {transform: rotate(5deg);}
    90% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}
#card1:hover{
    transform: translateX(1000px) translateY(-1000px);
}
#card2:hover{
    zoom:200%
}
#card3:hover{
    rotate: 2160deg;
}
#card4:hover{
    scale: 10;
}
#card5:hover{
}
